extends layout

block content
	div(class="about")
		div(class="search-form")
			div(class="about-main") A simple blog about popular web technologies.
			div(class="foreach") <font color="white">foreach</font>(<font color="yellow">ideas</font>){ <font color="white"> create(); </font>}
			form(class="search-main")
				input(type="text" name="search-query" placeholder="search")
				input(type="submit" name="search" value="search")