extends layout

block content
  div(class="welcome") A simple Blog about web technologies.
  div(class="latest")
    div(class="latest-title") Latest Post
    div(class="latest-content")
      div(class="latest-block")
      div(class="latest-block")
      div(class="latest-block")
      div(class="latest-block")
      div(class="latest-block")
      div(class="latest-block")
