doctype html
html
  meta( charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/main.css")
    div(class="nav")
        nav
          li
            a(href="/") Home
          li
            a(href="node") NodeJs
          li
            a(href="php") Php
          li
            a(href="css") Css
  body
    block content
