doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/main.css")
    script(src="/javascripts/vue.min.js")
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="php") PHP
        li
          a(href="node") NodeJs
  body
    block content
